.grid-replay {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(6, 1fr);
  width: 1280px;

}

%item-shared {
  margin-top: 0.5rem;
  background: #f4f4f4;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  opacity: 0.9;
}

.item {
  &-title {
    @extend %item-shared;
    padding: 1rem;
    grid-column: span 6;
    text-decoration: underline 1px #000;
    font-size: 2rem;
    border-radius: 5px;

    &-sneakers {
      @extend %item-shared;
      padding: 1rem;
      text-transform: uppercase;
      font-size: 1.75rem;
      color: #fff;
      background: #c51d1d;
      grid-column: span 6;
      border-radius: 5px;
    }

    &-sneakerless {
      @extend %item-shared;
      padding: 1rem;
      text-transform: uppercase;
      font-size: 1.75rem;
      color: #fff;
      background: #4682b4;
      grid-column: span 6;
      border-radius: 5px;
    }
  }

  &-top {
    @extend %item-shared;
    padding: 0.25rem;
    background: #4f4f4f;
    color: #fff;
  }

  &-place {
    @extend %item-shared;
    p {
      padding: 2rem 0;
    }
  }

  &-char {
    @extend %item-shared;
    align-self: stretch;

    img {
      margin-top: 0.5rem;
      width: 70px;
      opacity: 1;
    }
  }

  &-map {
    @extend %item-shared;
    align-self: stretch;

    a {
      padding: 0;
      margin: 0 1rem;
    }

    img {
      margin-top: 0.5rem;
      width: 120px;
      opacity: 1;
    }
  }
}
