.maps.index {
  grid-template-columns: repeat(3, 1fr);
  width: 50%;

  .header {
    text-align: center;
    grid-column: span 3;
  }
}

.grid-replay.index {
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 40%;

  .item {
    &-title {
      &-sneakers {
        grid-column: span 4;
      }
      &-sneakerless {
        grid-column: span 4;
      }
    }
  }
}
