.maps.index {
  grid-template-columns: repeat(3, 1fr);
  width: 1080px;

  .header {
    text-align: center;
    grid-column: span 3;
  }
}

.grid-replay.index {
  grid-template-columns: repeat(4, 1fr);
  width: 1080px;

  .item {
    &-title {
      &-sneakers {
        grid-column: span 4;
      }
      &-sneakerless {
        grid-column: span 4;
      }
    }
  }
}
